<h1 style="font-size: 18px; width: 350px; padding: 10px; text-align: center; font-weight: normal; background-color: #70b02b; color:#ffffff; margin-top: 0px;">You've been invited to use inquestion</h1>
<p>"inquestion" is the support site for the IT Professionals apprenticeship and IT users apprenticeship. The site is new for 2014 and is here to support you the apprentice. Many of you email asking what a particular outcome means or how to answer a particular point, now you will find the answers on inquestion.</p>

<h2 style="font-size: 15px; width: 310px; padding: 10px; margin: 20px; margin-bottom: 5px; text-align: center; font-weight: normal; background-color: #4c4c4c; color:#ffffff; margin-top: 0px;">Asking questions is now a faster process</h2>
<h2 style="font-size: 15px; width: 310px; padding: 10px; margin: 20px; margin-bottom: 5px; text-align: center; font-weight: normal; background-color: #4c4c4c; color:#ffffff; margin-top: 0px;">Easier to find answers to your questions</h2>
<h2 style="font-size: 15px; width: 310px; padding: 10px; margin: 20px; margin-bottom: 5px; text-align: center; font-weight: normal; background-color: #4c4c4c; color:#ffffff; margin-top: 0px;">Peers can submit answers</h2>

<p>The whole team will receive your questions, instead of asking 1 person your asking all of us, we each have our own specific areas of expertise, this will enable us to answer your questions quickly and with high quality answers.</p>

<a href="http://inquestion.co.uk" style="font-size: 18px; text-decoration: none; width: 330px; display: block; padding: 15px; margin-bottom: 5px; text-align: center; font-weight: normal; background-color: #406db8; color:#ffffff; margin-top: 0px;">Sign up to inquestion now</a>

<p>I hope you find it useful,<br>Yours Sincerly<br><%= @inviter.full_name %></p>