<li>
	<a href="<%= notification.link %>">
		<% if notification.author != nil %>
			<strong><%= notification.author.full_name %> </strong>
		<% end %>
		<%= notification.content %>
		<span><%= time_ago_in_words(notification.created_at) %> ago</span>
	</a>
</li>