<div id="notifications-popover">
	
	<h3>Notifications <a id="notifications-clear" href="#">Clear</a></h3>
	<ul id="notifications-list">
		
		<%= render "notifications/notifications", :notifications => notifications %>

	</ul>

</div>