<%= render layout: '/layouts/admin' do %>
	<div class="col-element has-header question ask col-form">
		<h2 class="">Admin - View User</h2>
		<div id="search">
		<select id="admin-user-search" class="" placeholder="Search for a user">
			<% User.all.each do |u| %>
				<option value="<%= u.id %>"><%= u.forename %> <%= u.surname %></option>
			<% end %>
		</select>
		</div>
	</div>
	<div id="view" class="row">
		<div class="col6">
			
			<h3>Personal Details</h3>
			<dl>
				<dt>Name</dt>
					<dd id="admin-user-name">Samuel Giles</dd>
				<dt>Email</dt>
					<dd id="admin-user-email">livelikeasam@googlemail.com</dd>
				<dt>Last Seen</dt>
					<dd id="admin-user-lastseen">2 days ago</dd>
				<dt>Age</dt>
					<dd id="admin-user-yearsold">20 Years Old</dd>
				<dt>Admin?</dt>
					<dd id="admin-user-admin">Yes</dd>	
			</dl>

		</div>
		<div class="col6">
			
			<h3>Employer Details</h3>
			<dl>
				<dt>Name</dt>
					<dd id="admin-user-employername">Ziontech Solutions Ltd</dd>
				<dt>Employed Since</dt>
					<dd id="admin-user-employedsince">04/06/2010</dd>
				<dt>Phone</dt>
					<dd id="admin-user-employerphone">01935 424254</dd>
				<dt>Address</dt>
					<dd id="admin-user-employeraddress">Unit 1 Ziontech Solutions,<br>Yeovil Small Business,<br>Yeovil,<br>BA22 8WA</dd>	
				<dt>Notes</dt>
					<dd id="admin-user-notes">Bit of an asshole</dd>	
			</dl>

		</div>
	</div>
	<div class="col-element has-header question ask">
		<button class="btn-block">Edit User</button>
	</div>
<% end %>