<%= render layout: '/layouts/admin' do %>
	<div class="col-element has-header question ask">
		<h2 class="">Admin - Invite User</h2>
		<p class="sub-header">Type a comma seperated list of email addresses, users will be emailed a message informing them of inquestion and how it can help them.</p>
		
	</div>
<% end %>