<% content_for :head do %>
  <title>inquestion - About</title>
  <link rel="author" href="https://plus.google.com/+SamuelGiles93" />
<% end %>
<% content_for :cover do %>
About inquestion
<% end %>

<div class="row">
	<div class="col8">
		<div class="col-element has-header ask">
			<h2>About</h2>
			<p>inquestion is an effort to make asking questions a faster process, instead of asking 1 person your asking a whole body of people, each with their own specific areas of expertise with the idea that the question will be answered quickly with a high quality answer.</p>
			<p>Users of inquestion can mark particular tags as areas of expertise, they recieve notifications of questions posted to these tags and submit their answers for the user, users can mark answers as accepted when they have helped them, thus creating a knowledgebase of quality answers.</p>
			<p>If you think a feature would be useful then submit a feature request on <a href="https://github.com/samuelgiles/inquestion/issues">github</a> or write it and create a pull request on <a href="https://github.com/samuelgiles/inquestion/pulls">github</a>.</p>
		</div>
	</div>
	<div class="col4">
		<div class="col-element has-header answer ">
			<h2>Tech</h2>
			<p>inquestion is a Rails 4 application running on Phusion Passenger powered by Apache and PostgreSQL, you can find its source on <a href="https://github.com/samuelgiles/inquestion">github</a>.</p>
			<p>inquestion uses the following very useful libraries, frameworks and generally awesome code:</p>
			<ul>
				<li><a href="https://jquery.org/">jQuery</a></li>
				<li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
				<li><a href="http://www.lesscss.org/">Less.js</a></li>
				<li><a href="http://github.com/petergoldstein/acts_as_commentable_with_threading">acts_as_commentable_with_threading</a></li>
				<li><a href="http://chartkick.com">chartkick</a></li>
				<li><a href="http://github.com/bernat/best_in_place">best_in_place</a></li>
				<li><a href="http://necolas.github.io/normalize.css/">Normalize.css</a></li>
				<li><a href="http://github.com/plataformatec/devise">Devise</a></li>	
			</ul>
			<p>Contact <a href="http://samuelgil.es">Sam Giles</a> with any questions regarding the development of inquestion.</p>
		</div>
	</div>
</div>