<% content_for :head do %>
  <title>inquestion - Elements</title>
<% end %>

<div class="show_row">
	<div class="row">
		<div class="col1">A</div>
	</div>
	<div class="row">
		<div class="col2">A</div>
	</div>
	<div class="row">
		<div class="col3">A</div>
	</div>
	<div class="row">
		<div class="col4">A</div>
	</div>
	<div class="row">
		<div class="col5">A</div>
	</div>
	<div class="row">
		<div class="col6">A</div>
	</div>
	<div class="row">
		<div class="col7">A</div>
	</div>
	<div class="row">
		<div class="col8">A</div>
	</div>
	<div class="row">
		<div class="col9">A</div>
	</div>
	<div class="row">
		<div class="col10">A</div>
	</div>
	<div class="row">
		<div class="col11">A</div>
	</div>
	<div class="row">
		<div class="col12">A</div>
	</div>
</div>

<div class="row">
	<div class="col6">
		
		<div class="has-header answer has-option">
			<h2>Answer</h2>
			<a href="#" class="header_option">Popular <i class="icon icon-arrow-down"></i></a>

			<ul class="question_list">
				<li class="question">
					<div class="question-top">
						<a class="question-votes" href="#">+53</a><h3><a href="#">What does SMB stand for?</a></h3>
					</div>
					<p>Help, trying to do Unit 22 about Microsoft services and its talking about SMB, I know what it does but what does it stand for?</p>
					<div class="question-bottom">
						<ul class="question-tags">
							<li><a href="#">#unit22</a></li>
							<li><a href="#">#unit22</a></li>
							<li><a href="#">#unit22</a></li>
						</ul>
						<span>- asked by <a href="#">Samuel Giles</a>
					</div>
				</li>
				<li class="question">
					<div class="question-top">
						<a class="question-votes" href="#">+53</a><h3>What does SMB stand for?</h3>
					</div>
					<p>Help, trying to do Unit 22 about Microsoft services and its talking about SMB, I know what it does but what does it stand for?</p>
					<div class="question-bottom">
						<ul class="question-tags">
							<li><a href="#">#unit22</a></li>
							<li><a href="#">#unit22</a></li>
							<li><a href="#">#unit22</a></li>
						</ul>
						<span>- asked by <a href="#">Samuel Giles</a>
					</div>
				</li>
				<li class="question">
					<div class="question-top">
						<a class="question-votes" href="#">+53</a><h3>What does SMB stand for?</h3>
					</div>
					<p>Help, trying to do Unit 22 about Microsoft services and its talking about SMB, I know what it does but what does it stand for?</p>
					<div class="question-bottom">
						<ul class="question-tags">
							<li><a href="#">#unit22</a></li>
							<li><a href="#">#unit22</a></li>
							<li><a href="#">#unit22</a></li>
						</ul>
						<span>- asked by <a href="#">Samuel Giles</a>
					</div>
				</li>
			</ul>
		</div>

	</div>
	<div class="col6">
		<div class="has-header ask">
			<h2>Ask</h2>
		</div>
	</div>
</div>