<% content_for :head do %>
  <title>inquestion - Home</title>
<% end %>
<% content_for :cover do %>
Welcome to inquestion
<% end %>

<div class="col9">
	<h2>inquestion is a question and answer community designed to make asking questions a faster, easier process</h2>
	<p>Instead of asking 1 person your asking a whole body of people, each with their own specific areas of expertise with the idea that the question will be answered quickly with a high quality answer.</p>
	<p>Users are notified of questions posted in their areas of expertise, you won't be left waiting for your answer.</p>
	<p><%= link_to "Find out more about inquestion", :about_page, class: "btn" %>
</div>

<div class="col3">
	<div class="col-element has-header answer has-option">
		<h4>Current Popular Tags:</h4>
		<ul class="feature-list">
			<% popular_tags.each do |tag| %>
			<li>#<%= tag.title %></li>
			<% end %>
		</ul>
	</div>
</div>