<h1>Privacy Policy</h1>

<strong>The website is a public service to users, by using the site you agree to the privacy policy, if you do not agree then do not use the website.</strong>

<p>We will never intentionally transmit the data you give us to other companies.</p>
<p>Anonymous data is gathered about users browsers to help fix bugs and create a better expeirience for all users.</p>
<p>Every time you request or download a file from the web site, the Operators may store data about these events and your IP address in a log file. The Operators may use this information to analyze trends and administer the web site.</p>
<p>Information you give us when you sign up will be visible for Administrators of the site, this is essential for the running of the site.</p>
<p>We will make every effort to protect the information you give us however we assume no liability for the interception, alteration, or misuse of the information you provide us</p>

<h2>Cookies</h2>
<p>This site uses cookies to store information on your computer.</p>
<p>Some of these cookies are essential to make our site work and others help us to improve by giving us some insight into how the site is being used.</p>
<p>These cookies are set when you submit a form, login or interact with the site by doing something that goes beyond clicking some simple links.</p>
<p>We also use some non-essential cookies to anonymously track visitors or enhance your experience of this site. If you're not happy with this then please do not continue to use this website.</p>
<p>To control third party cookies, you can also adjust your browser settings, you make break some features of the site by doing this.</p>