<% content_for :head do %>
  <title>inquestion - Admin</title>
<% end %>
<div class="col8">

	<%= yield %>

</div>
<div class="col4">
	<div class="col-element answer has-header">
		<h2>Actions</h2>
		<button class="black btn-block">Home</button>
		<button class="black btn-block">Add user</button>
		<button class="black btn-block">View user</button>
		<button class="black btn-block">Create question + answer</button>
	</div>
</div>
